body{
    background-color: black;
    color: white; 
}

p {
    margin: 0;
}

h2 {
    margin: 0;
}

.tarjeta_padre {
    width: 600px;
    display: block;
    margin: auto;
    padding: 0px;
}

.tarjeta_hijo_nombre {
    background-color: orange;
    text-align: center;
}

.tarjeta_hijo_descripcion {
    background-color: red;
    text-align: justify;
}
